parameters:
    level: 5
    paths:
        - src
        - tests
    bootstrapFiles:
        - dev-config.dist.php
    ignoreErrors:
        -
            message: '#Comparison operation ">" between .* and 0 is always true\.#'
            path: tests/CargoSizesModTests/AccelerationAdjustmentTest.php
        -
            message: '#Call to method PHPUnit\\Framework\\Assert::assertIs(Bool|Float)\(\) with .* will always evaluate to true\.#'
            path: tests/CargoSizesModTests/TierSystemTest.php
