parameters:
    level: 5
    paths:
        - src
        - tests
    bootstrapFiles:
        - dev-config.dist.php
    ignoreErrors:
        -
            message: '#Comparison operation ">" between .* and 0 is always true\.#'
            path: tests/CargoSizesModTests/AccelerationAdjustmentTest.php
