<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/gui/backend/tests/Unit" />
        <option value="$PROJECT_DIR$/gui/backend/tests/Integration" />
        <option value="$PROJECT_DIR$/tests/CargoSizesModTests" />
      </list>
    </option>
  </component>
</project>